header{
    width: 100%;
    max-width: 1000px;
    min-height: 110px;
    max-height: 110px;
}

.modal{
    width: 50%;
    height: 10%;
    overflow: auto;
    position: relative;
}

.modal-content{
    margin: 5% auto;
    padding-left: 5px;
    
}

.close{
    font-size: 28px;
    font-weight: bold;
}

#donutClick img{
    height: 50px;
}

#donutCount img{
    height: 15px;
}

main{
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 15%;
}

#mainBtns{
    display: grid;
    height: 120px;
    width: 300px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 55px 50px 50px;
    justify-content: space-around;
    grid-gap: .5em;
}

body{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header button{
    height: 20px;
    margin-top: .5em;
}

main{
    height: 80%;
}

.si img{
    height: 50px;
    width: 50px;
}